<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title>Gráfico</title>
</head>

<body>
    <canvas id="myChart" width="400" height="160"></canvas>
    <script>
        var URL = 'http://localhost:8080/';
        //getData();
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: ['have', 'their', 'which', 'lord', 'thou', 'with', 'they', 'unto', 'shall', 'that'],
                datasets: [{
                    label: ' É repetida',
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 23, 132, 1)',
                        'rgba(255, 45, 130, 1)',
                        'rgba(255, 98, 12, 1)',
                        'rgba(0,255,0)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 100, 60, 1)',
                        'rgba(255, 59, 64, 1)',
                        'rgba(255, 9, 4, 1)',
                        'rgba(255, 519, 8, 1)'
                    ],
                    data: [3887, 3931, 4401, 4739, 5202, 6047, 7300, 8987, 9840, 12799]
                }]
            },

            // Configuration options go here
            options: {}
        });
    </script>
</body>

</html>